<!DOCTYPE html>
<html lang="fi">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <title>{% block title %}{% endblock %} - Sdxmenu V2</title>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand " href="/"><h2>Sdx-menu v2</h2></a>
    <button class="navbar-toggler btn btn-primary" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('restaurants_index') }}">{{ navigation_links['restaurants_index'] }}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    More
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('info') }}">{{ navigation_links['info'] }}</a>
                    <a class="dropdown-item" href="{{ url_for('destroy_cookie') }}">{{ navigation_links['destroy_cookie'] }}</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div id="content container-fluid" style="height: 100% !important; min-height: 100% !important; justify-content: center !important;">
    {% block content %}{% endblock %}</div>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4 justify-content-center align-items-center"
        style="position:absolute;bottom:0px;width: 100%;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left justify-content-center align-items-center"
         style="margin-left: 00%;">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <p>Menus by <a href="https://www.sodexo.fi/" target="_blank">Sodexo</a></p>
            <p>Application by <a href="https://www.github.com/vatsia/">github/vatsia</a> and <a href="https://www.github.com/rauli1701/">github/rauli1701</a></p>
        </div>
    </div>

</footer>
{% block footer %}
{% endblock %}

</body>
</html>